.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 1rem;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 5px;
}

button:hover {
    
    color: blue;
    background-color: white;
}